<?xml version = "1.0" encoding = "UTF-8"?>

<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-8.8t [%-5level] [%d{HH:mm:ss.SSS}] [%10.36c: %line] [%M] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>